{% extends "mainapp/layouts/sidebar_layout.html" %}

    {% block head_title %}User Details{% endblock %}

    {% block main_content %}
    <div class="container">
        <h2 class="h2">User Details</h2>

        <div class="card">
            <div class="card-body">
                
                <div class="row mb-2">
                    <div class="col-4"><strong>Username:</strong></div>
                    <div class="col-8">{{ user.username }}</div>
                </div> 
                <div class="row mb-2">
                    <div class="col-4"><strong>Email:</strong></div>
                    <div class="col-8">{{ user.email }}</div>
                </div> 
                <div class="row mb-2">
                    <div class="col-4"><strong>Password:</strong></div>
                    <div class="col-8">{{ user.password }}</div>
                </div>
            </div>
        </div>

        <div class="mt-3">
            <a href="{% url 'user_update' user.id %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'user_delete' user.id %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'user_list' %}" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
    {% endblock %}